body{
	background-color:#f5e969;
}
div.LOGO{
	height:464px;
	background-color:#d6ca2b;
	text-align:center;
}
img.LOGO{
	height:464px;
	width:600px;
}
div.TYTUŁ{
	background-color:#868a12;
	height:43px;
	text-align:center;
	font-size:35px;
}
div.MENU{
	height:381px;
}
div.MENUPOLEWEJ{
	background-color:#c7b820;
	height:381px;
	width:20%;
	float:left;
}
p.MENUPOLEWEJ{
	text-align:center;
	font-size:18px;
}
div.MENUPOPRAWEJ{
	background-color:#b3a405;
	width:80%;
	height:381px;
	float:left;
}
p.MENUPOPRAWEJ{
	font-size:18px;
	text-align:center;
}
p.MENUPOPRAWEJ2{
	text-align:right;
	font-size:18px;
	margin-right:50px;
}
div.STOPKA{
	height:19px;
	background-color:#e3d332;
	font-size:14px;
}